<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Instituições - NumbERS</title>
        <link rel="stylesheet" href="../../css/crud.css">
    </head>
    <body>
        <div class="container">
            <div class="container-top">
                <div class="container-top-name">
                    <h2 class="container-top-name-pageTitle">NumbERS Administrativo</h2>
                </div>
                <div class="container-top-back">
                    <button class="container-top-back-button" type="button" onclick="">Voltar</button>
                </div>
            </div>
            <div class="container-main">
                <div class="container-main-main">
                    <h1 class="container-main-main-h1">Atualizar Instituições</h1>
                </div>
                <form action="" class="container-main-form" id="input-form">
                    <h2 class="container-main-form-name">Formulário de Inserção</h2>
                    <p class="container-main-form-description">Preencha os dados para atualizar no banco de dados</p>
                    <div class="container-main-form-group">
                        <label class="control-label">ID</label><br>
                        <input type="text" value="" name="ID[Instituição]" id="idInstituição" class="control-input">
                    </div>
                    <div class="container-main-form-group">
                        <label class="control-label">Nome</label><br>
                        <input type="text" value="" name="Nome[Instituição]" id="nomeInstituição" class="control-input">
                    </div>
                    <div class="container-main-form-group">
                        <label class="control-label">CNPJ</label><br>
                        <input type="text" value="" name="cnpj[Instituição]" id="cnpjInstituição" class="control-input">
                    </div>
                    <div class="container-main-form-group">
                        <label class="control-label">Pessoa Responsável</label><br>
                        <input type="text" value="" name="pesResp[Instituição]" id="pesRespInstituição" class="control-input">
                    </div>
                    <button type="submit" class="container-main-form-btn">Atualizar Instituição</button>
                </form>
            </div>
            <div class="container-foot">
                <p class="container-foot-text">© 2024 NumbERS Administrativo. Todos os direitos reservados.</p>
            </div>
        </div>
    </body>
</html>