<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0557bd05db.js" crossorigin="anonymous"></script>
    <title>Patrimônio - NumbERS</title>
    <link rel="stylesheet" href="../../css/restOptions.css">
  </head>
  <body>
    <div class="container">
      <div class="container-top">
        <div class="container-top-name">
          <h2 class="container-top-name-pageTitle">NumbERS Administrativo</h2>
        </div>
        <div class="container-top-back">
          <button class="container-top-back-button" type="button" onclick="">Voltar</button>
        </div>
      </div>
      <div class="container-main">
        <div class="container-main-main">
          <h1 class="container-main-main-h1">Gerenciar Patrimônio</h1>
        </div>
        <div class="container-main-options">
          <i class="fa-solid fa-circle-plus"></i> <h3 class="container-main-options-name">Inserir</h3>
          <p class="container-main-options-description">Adicionar um novo patrimônio ao sistema.</p>
          <button class="container-main-options-button">Inserir Novo Patrimônio</button>
        </div>
        <div class="container-main-options">
          <i class="fa-solid fa-magnifying-glass"></i><h3 class="container-main-options-name">Pesquisar</h3>
          <p class="container-main-options-description">Buscar patrimônios existentes.</p>
          <button class="container-main-options-button">Buscar Patrimônios</button>
        </div>
        <div class="container-main-options">
          <i class="fa-solid fa-recycle"></i><h3 class="container-main-options-name">Atualizar</h3>
          <p class="container-main-options-description">Modificar informações de patrimônios.</p>
          <button class="container-main-options-button">Atualizar Patrimônio</button>
        </div>
        <div class="container-main-options">
          <i class="fa-solid fa-circle-xmark"></i><h3 class="container-main-options-name">Excluir</h3>
          <p class="container-main-options-description">Remover patrimônios do sistema.</p>
          <button class="container-main-options-button">Excluir Patrimônio</button>
        </div>
      </div>
      <div class="container-foot">
        <p class="container-foot-text">© 2024 NumbERS Administrativo. Todos os direitos reservados.</p>
      </div>
    </div>
  </body>
</html>