@media all and (min-width: 80em) {

    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    h1 {
        font-size: 3em;
    }

    .container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 10vh auto 10vh;
        margin: 0;
    }

    .container-top {
        display: grid;
        grid-template-columns: 25vw 25vw 25vw 25vw;
        grid-template-rows: auto;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        background-color: deepskyblue;
        margin: 0;
    }

    .container-top-name {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin: auto;
    }

    .container-top-name-pageTitle {
        font-size: 2em;
    }

    .container-top-back {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        margin: auto;
    }

    .container-top-back-button {
        background-color: whitesmoke;
        width: 5vw;
        height: 5vh;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
    }

    .container-top-back-button:hover {
        background-color: lightskyblue;
    }

    .container-main {
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 20vh 40vh 40vh;
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }

    .container-main-main {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        margin: auto;
    }

    .container-main-main-h1 {
        text-align: center;
    }

    .container-main-options {
        margin: auto;
        border: 1px solid black;
        border-radius: 8px;
        padding: 3em;
    }

    .container-main-options-button {
        width: 30vw;
        height: 5vh;
        background-color: black;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
    }

    .container-main-options-button:hover {
        background-color: darkslategray;
    }

    .container-main-options-icon {
        display: inline;
    }

    .container-main-options-name {
        display: inline;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
    }

    .container-foot {
        grid-column: 1 / -1;
        grid-row: 3 / -1;
        background-color:lightskyblue;
        align-content: center;
    }

    .container-foot-text {
        text-align: center;
    }

}