<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - NumbERS</title>
  <link rel="stylesheet" href="../css/loginPage.css">
</head>
<body>
<div class="container">
  <div class="container-background"></div>
  <div class="container-form">
    <div class="container-form-login">
      <form method="post" accept-charset="utf-8">
        <div class="container-login-form-group">
          <label class="control-label">Matricula</label><br>
          <input type="text" value="" name="Acesso[Matricula]" id="acessoMatricula" class="control-input">
        </div>

        <div class="container-login-form-group">
          <label class="control-label">Senha</label><br>
          <input type="password" value="" name="Acesso[Senha]" id="acessoSenha" class="control-input">
        </div>
        <button type="submit" class="login-btn">Entrar</button>
        <p class="forgetPassword">
          <a class="linkForgetPassword" href="">Esqueceu a senha?</a>
        </p>
      </form>
    </div>
  </div>
</div>
</body>
</html>