<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/mainPage.css">
    <title>NumbERS Administrativo</title>
</head>
<body>
    <div class="container">
        <div class="container-top">
            <div class="container-top-name">
                <h2 class="container-top-name-pageTitle">NumbERS Administrativo</h2>
            </div>
            <div class="container-top-login">
                <button class="container-top-login-button" type="button" onclick="">Log in</button>
            </div>
        </div>
        <div class="container-main">
            <div class="container-main-main">
                <h1 class="container-main-main-h1">Bem-vindo(a) ao NumbERS Administrativo</h1>
                <p class="container-main-main-p">Gerencie seus recursos e atividades de forma eficiente.</p>
            </div>
            <div class="container-main-item">
                <button class="container-main-item-button">
                    <i class="container-main-item-button-icon">
                        ...
                    </i>
                    <h3 class="container-main-item-button-name">Atividades</h3>
                </button>
            </div>
            <div class="container-main-item">
                <button class="container-main-item-button">
                    <i class="container-main-item-button-icon">
                        ...
                    </i>
                    <h3 class="container-main-item-button-name">Cargos</h3>
                </button>
            </div>
            <div class="container-main-item">
                <button class="container-main-item-button">
                    <i class="container-main-item-button-icon">
                    ...
                    </i>
                    <h3 class="container-main-item-button-name">Categorias</h3>
                </button>
            </div>
            <div class="container-main-item">
                <button class="container-main-item-button">
                    <i class="container-main-item-button-icon">
                        ...
                    </i>
                    <h3 class="container-main-item-button-name">Checkins</h3>
                </button>
            </div>
            <div class="container-main-item">
                <button class="container-main-item-button">
                    <i class="container-main-item-button-icon">
                        ...
                    </i>
                    <h3 class="container-main-item-button-name">Condições</h3>
                </button>
            </div>
            <div class="container-main-item">
                <button class="container-main-item-button">
                    <i class="container-main-item-button-icon">
                        ...
                    </i>
                    <h3 class="container-main-item-button-name">Empréstimos</h3>
                </button>
            </div>
            <div class="container-main-item">
                <button class="container-main-item-button">
                    <i class="container-main-item-button-icon">
                        ...
                    </i>
                    <h3 class="container-main-item-button-name">Instituições</h3>
                </button>
            </div>
            <div class="container-main-item">
                <button class="container-main-item-button">
                    <i class="container-main-item-button-icon">
                        ...
                    </i>
                    <h3 class="container-main-item-button-name">Patrimônio</h3>
                </button>
            </div>
            <div class="container-main-item">
                <button class="container-main-item-button">
                    <i class="container-main-item-button-icon">
                        ...
                    </i>
                    <h3 class="container-main-item-button-name">Projetos</h3>
                </button>
            </div>
            <div class="container-main-item">
                <button class="container-main-item-button">
                    <i class="container-main-item-button-icon">
                        ...
                    </i>
                    <h3 class="container-main-item-button-name">Situações</h3>
                </button>
            </div>
            <div class="container-main-item">
                <button class="container-main-item-button">
                    <i class="container-main-item-button-icon">
                        ...
                    </i>
                    <h3 class="container-main-item-button-name">Skills</h3>
                </button>
            </div>
            <div class="container-main-item">
                <button class="container-main-item-button">
                    <i class="container-main-item-button-icon">
                        ...
                    </i>
                    <h3 class="container-main-item-button-name">Usuários</h3>
                </button>
            </div>
        </div>
        <div class="container-foot">
            <p class="container-foot-text">© 2024 NumbERS Administrativo. Todos os direitos reservados.</p>
        </div>
    </div>
</body>
</html>